<main class="main-section container my-5 p-4 rounded shadow-lg text-center">
  @for(note of notes; track note.id){ @if(note.id == id){
  <h2 class="mb-4">Edit {{ note.title }}</h2>
  <div class="note-box p-4 bg-white border rounded shadow-sm text-start">
    <div class="mb-3">
      <label for="noteContent" class="form-label fw-bold">Note Content</label>
      <textarea
        type="text"
        class="form-control form-control-lg"
        [(ngModel)]="note.content"
      ></textarea>
    </div>
    <div class="d-flex justify-content-center gap-2">
      <a
        href=""
        class="btn btn-outline-secondary"
        [routerLink]="['/note', note.id]"
        >Cancel</a
      >
      <button
        class="btn btn-success"
        [routerLink]="['/note', note.id]"
        (click)="updateNote(note)"
      >
        Save
      </button>
    </div>
  </div>
  }}
</main>
