<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="btn btn-outline-success" (click)="logout()">Logout</button>
  </div>
</nav>
<div class="row">
  <div class="col"></div>

  <div class="col-md-4">
    <div class="text-center">
      <div class="card shadow mt-3">
        <div class="card-body">
          <div>User ID: {{ user?.uid }}</div>
          <div>User Name: {{ user?.displayName }}</div>
          <div>Email: {{ user?.email }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
