<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary shadow position-relative"
>
  <div class="container-fluid d-flex align-items-center">
    <div class="d-flex gap-2">
      <a routerLink="/notes" class="btn btn-outline-light">Notes</a>
    </div>
    <span class="navbar-brand position-absolute start-50 translate-middle-x"
      >User's Notes</span
    >
    <button class="btn btn-outline-light" routerLink="">To Do List</button>
  </div>
</nav>

<main class="main-section container my-5 p-4 rounded shadow-lg text-center">
  @for(note of notes; track note.id){ @if(note.id == id){
  <h2 class="mb-4">{{ note.title }}</h2>
  <div class="note-box p-4 bg-white border rounded shadow-sm text-start">
    <p>{{ note.content }}</p>
  </div>
  <div class="mt-4 d-flex justify-content-center gap-2">
    <a href="" class="btn btn-outline-secondary" routerLink="/notes">Back</a>
    <button class="btn btn-warning" [routerLink]="['/note-edit', note.id]">
      Edit
    </button>
    <button
      class="btn btn-danger"
      routerLink="/notes"
      (click)="deleteNote(note)"
    >
      Delete
    </button>
  </div>
  } }
</main>
