<main class="main-section container my-5 p-4 rounded shadow-lg text-center">
  @for(note of notes; track note.id){ @if(note.id == id){
  <h2 class="mb-4">{{ note.title }}</h2>
  <div class="note-box p-4 bg-white border rounded shadow-sm text-start">
    <p>{{ note.content }}</p>
  </div>
  <div class="mt-4 d-flex justify-content-center gap-2">
    <a href="" class="btn btn-outline-secondary" routerLink="/notes">Back</a>
    <button class="btn btn-warning" [routerLink]="['/note-edit', note.id]">
      Edit
    </button>
    <button
      class="btn btn-danger"
      routerLink="/notes"
      (click)="deleteNote(note)"
    >
      Delete
    </button>
  </div>
  } }
</main>
